body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.todo-container {
    margin: 50px auto;
    text-align: center;
}
.todo-container h1 {
    margin: 20px 0;
}

.todo-container input {
    padding: 10px;
    width: 200px;
    margin-top: 20px;
}
.todo-container button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}
.todo-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}